#Options FollowSymLinks
#RewriteEngine on
#RewriteCond %{REQUEST_URI} .*\STC_MVC/app/views/generic/add.php [OR]
#RewriteCond %{REQUEST_URI} .*\STC_MVC/app/views/course/* [OR]
#RewriteCond %{REQUEST_URI} .*\STC_MVC/app/views/teacher/* [OR]
#RewriteCond %{REQUEST_URI} .*\STC_MVC/app/views/student/*
#RewriteRule . /STC_MVC/public/index.php [L,QSA]