Options FollowSymLinks
RewriteEngine on
RewriteCond %{REQUEST_URI} !=/STC_MVC/public/index.php [OR]
RewriteCond %{REQUEST_URI} .*\STC_MVC/app/views/generic/add.php [OR]
RewriteCond %{REQUEST_URI} .*\STC_MVC/app/views/course/list.php [OR]
RewriteCond %{REQUEST_URI} .*\STC_MVC/app/views/teacher/list.php [OR]
RewriteCond %{REQUEST_URI} .*\STC_MVC/app/views/student/list.php
RewriteRule . /STC_MVC/public/index.php [L,QSA]